h1{
	color:#008000;
	font-size:40px;
	text-align:center;
	font-family:"IM Fell English SC", serif;
}	
h2{
	color: #B0171F;
}
html, body{
	height:100%;
}
body{
	background-image: url(../img/argyle.png);
	background-repeat:repeat;
}
.wrapper{
	width:auto;
}
.container{
	background:white;
	min-height:100%;
	padding-top:30px;
	border-radius:15px;
	padding-right:50px;
	padding-left:50px;
	padding-bottom:30px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.link{
	font-family: 'Open sans', sans-serif;
	text-align:center;
	font-size: 30px;
}
a:link{
	text-decoration:none;
	color:#63B8FF;
}
article{
	font-family: 'Beunard', serif;
	font-size: 20px;
}
.note{
	font-family: 'Beunard', serif;
	font-size: 20px;
	color:#B0171F;
}
