h1{
	color:#008000;
	font-size:40px;
	text-align:center;
/*	font-family:"IM Fell English SC", serif;*/
}	
h2{
	color: #B0171F;
}
html, body{
	height:100%;
}
.main{
	background-image: url(../img/lamp.jpg);
	background-size:80%;
}
.wrapper{
	width:auto;
}
body{
	width:700px;
	min-height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;

}
.container{
	background:white;
	min-height:100%;
	padding:30px 50px 50px 30px ;
	/*border-radius:15px;*/
	width:700px;
/*	margin-left:auto;
	margin-right:auto;
	/*margin-bottom:100px;
	margin-top:100px; */
	border:5px solid;
}
.link{
	font-family: 'Open sans', sans-serif;
	text-align:center;
	font-size: 30px;
}
a:link{
	text-decoration:none;
	color:#63B8FF;
}
article{
	font-family: 'Beunard', serif;
	font-size: 20px;
}
.note{
	font-family: 'Beunard', serif;
	font-size: 20px;
	color:#B0171F;
}
.icon{
	width:130px;
	height:auto;
	position:absolute;
	margin-top:150px;
	margin-left:80px;
	border:1px solid;
}
.icon:hover{
	background:white;
}
#bottom{
	width:130px;
	height:auto;
	border:5px solid;
	margin-top:-70px;
	margin-left:50px;
	background: white;
}
.botros{
	font-size:150px;
	position:absolute;
	margin-top:330px;
	margin-left:80px;	
	color:white;
}
.botros:hover{
	color:red;
}
/*
img{
	width:auto;
	height:100%;
	margin:0px;
}
	*/
.navbox{
	background: black;
	opacity:0.7;
	width:150px;
	height:30px;
	text-color:white;
	text-decoration:none;
	font-size:20px;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px;
}
.navbox:hover{
	opacity:0.9;
}
nav{
	position:absolute;
	margin-top:300px;
	margin-left:1000px;
}
footer{
	position:absolute;
	margin-top:560px;
	margin-left:900px;
	text-color:white;
}
.head{
	font-size:130px;
/*	position: relative;*/
	margin-top:-150px;
/*	margin-left:280px;
	margin-bottom:0px;*/
}
#mypic{
	height:350px;
	width:auto;
	position:relative;
	float:right;
}
#focus{
	height:auto;
	width:700px;
	margin-top:-80px;
}
.photo{
	width:300px;
	height:auto;
	margin-left:40px;
	margin-bottom:20px;
	display:inline;
}
